# for parsing
llama_cloud
mdutils
accelerate
transformers==4.51.3
qwen-vl-utils
torchvision

# for database
langchain-text-splitters
pymilvus[model]
pymilvus[milvus_lite]

# for langgraph
langgraph
langchain
langchain_openai
flagembedding==1.3.5
langchain_tavily
streamlit